@import './scss/config';
@import './scss/grid';
@import './scss/animations';
@import './scss/tv';

body {
    --columns: 103;
    --cell-size: 6px;

    padding: 0;
    margin: 0;

    * {
        outline: none;
    }
}
@font-face {
    font-family: 'C64';
    src: url('/fonts/C64_Pro-STYLE.woff') format('woff');
}
